# 分流规则配置片段包含若干条分流规则；可通过资源引用的方式使用。
# 片段文件将保存在 Quantumult X 目录下的 Profiles 子目录中。
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/filter.snippet



;host, www.example.com, direct
host-suffix, cmpassport.com, proxy
host-suffix, jegotrip.com.cn, proxy
host-suffix, umeng.com, proxy
host-suffix, analysis.tratao.com, proxy
host-suffix, icloud-content.com, proxy